export MOZ_ALLOW_GTK_DARK_THEME="true"
export PASSWORD_STORE_DIR="$HOME/sync/pass"
export RUST_SRC_PATH="/usr/src/rust/src"
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

alias sj="ssh jcornwal-fj"
